RepasoExamenParcial/Service References/ServiceReference5/Service21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Profesor">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnosExp" type="xs:int" />
      <xs:element minOccurs="0" name="Categoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dni" type="xs:int" />
      <xs:element minOccurs="0" name="Especialidad" nillable="true" type="tns:Especialidad" />
      <xs:element minOccurs="0" name="FechaFinCategoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaRevalidacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GradoAcademico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Idioma" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegimenDedicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Profesor" nillable="true" type="tns:Profesor" />
  <xs:complexType name="Especialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Especialidad" nillable="true" type="tns:Especialidad" />
  <xs:complexType name="Alumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciclo" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Creditos" type="xs:int" />
      <xs:element minOccurs="0" name="Dni" type="xs:int" />
      <xs:element minOccurs="0" name="Especialidad" nillable="true" type="tns:Especialidad" />
      <xs:element minOccurs="0" name="EspecialidadActual" nillable="true" type="tns:Especialidad" />
      <xs:element minOccurs="0" name="EspecialidadAnterior" nillable="true" type="tns:Especialidad" />
      <xs:element minOccurs="0" name="ListaReuniones" nillable="true" type="tns:ArrayOfReunion" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResumenReuniones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" type="xs:int" />
      <xs:element minOccurs="0" name="Tutor" nillable="true" type="tns:Profesor" />
      <xs:element minOccurs="0" name="Unidad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alumno" nillable="true" type="tns:Alumno" />
  <xs:complexType name="ArrayOfReunion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reunion" nillable="true" type="tns:Reunion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReunion" nillable="true" type="tns:ArrayOfReunion" />
  <xs:complexType name="Reunion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alumno" nillable="true" type="tns:Alumno" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profesor" nillable="true" type="tns:Profesor" />
      <xs:element minOccurs="0" name="Sugerencias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tema" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reunion" nillable="true" type="tns:Reunion" />
  <xs:complexType name="ArrayOfAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alumno" nillable="true" type="tns:Alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlumno" nillable="true" type="tns:ArrayOfAlumno" />
  <xs:complexType name="ProfesorTutor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="ListaAlumno" nillable="true" type="tns:ArrayOfAlumno" />
      <xs:element minOccurs="0" name="ListaReunion" nillable="true" type="tns:ArrayOfReunion" />
      <xs:element minOccurs="0" name="NodoProfesor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profesor" nillable="true" type="tns:Profesor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfesorTutor" nillable="true" type="tns:ProfesorTutor" />
</xs:schema>