RepasoExamenParcial/Service References/ServiceReference5/Service22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51018/Service2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
  <xs:element name="agregarProfesorTutor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="profesor" nillable="true" type="q1:Profesor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarProfesorTutorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agregarProfesorTutorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarProfesor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarProfesorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="buscarProfesorResult" nillable="true" type="q2:Profesor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="alumno" nillable="true" type="q3:Alumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agregarAlumnoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearProfesor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod" type="xs:int" />
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dn" type="xs:int" />
        <xs:element minOccurs="0" name="corr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telf" type="xs:int" />
        <xs:element minOccurs="0" name="reg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idio" type="xs:int" />
        <xs:element minOccurs="0" name="anho" type="xs:int" />
        <xs:element minOccurs="0" name="grad" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="esp" nillable="true" type="q4:Especialidad" />
        <xs:element minOccurs="0" name="fIn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fRe" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fFin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categ" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearProfesorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="crearProfesorResult" nillable="true" type="q5:Profesor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod" type="xs:int" />
        <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dn" type="xs:int" />
        <xs:element minOccurs="0" name="corr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telf" type="xs:int" />
        <xs:element minOccurs="0" name="cic" type="xs:int" />
        <xs:element minOccurs="0" name="cred" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="especialidadActual" nillable="true" type="q6:Especialidad" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="especialidadAnterior" nillable="true" type="q7:Especialidad" />
        <xs:element minOccurs="0" name="resumenReuniones" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unidad" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="crearAlumnoResult" nillable="true" type="q8:Alumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="buscarAlumnoResult" nillable="true" type="q9:Alumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTutoresCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTutoresCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getTutoresCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTutor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTutorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="getTutorResult" nillable="true" type="q10:Profesor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAlumnos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="profesor" nillable="true" type="q11:Profesor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAlumnosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="getAlumnosResult" nillable="true" type="q12:ArrayOfAlumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarReunion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="alumno" nillable="true" type="q13:Alumno" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="tutor" nillable="true" type="q14:Profesor" />
        <xs:element minOccurs="0" name="fecha" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tema" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sugerencia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarReunionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agregarReunionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProfesorTutor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProfesorTutorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="getProfesorTutorResult" nillable="true" type="q15:Profesor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarTutor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarTutorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="buscarTutorResult" nillable="true" type="q16:ProfesorTutor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>